@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');

:root {
    --primary-color: #87805E;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --secondary-color: #B09B71;
    --third-color: #D8CCA3;
    --forth-color: #EDDFB3;
    --flex-style: flex;
}
body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0 0;
    color: var(--primary-color);
    align-content: center;
}
body::-webkit-scrollbar {
    display: none;
  }
ul{
    list-style: none;
}
h1{
    padding: 1rem 1rem;
    margin-left: 1rem;
    font-size:xx-large;
    flex: 1;
}
a{
    text-decoration: none;
}
hr{
    margin: 4rem 12%;
    border: 2px solid var(--primary-color);
}
.button{
    margin: 0 2rem;
    font-size: large;
    background-color: var(--primary-color);
    color: var(--off-white);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}
.button.top{
    background-color: var(--off-white);
    color: var(--secondary-color);
}


.topnavigation{
    display: flex;
    justify-content: space-between;
}
.topnavigation div{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex: 1;
    margin-right: 10%;
}
.topnavigation header:hover{
    color: var(--third-color);
}
.topnavigation ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
}
#selectedpage{
    color: var(--primary-color);
    font-weight: bolder;
}


.image img{
    margin: auto;
    display: flex;
    max-width: 600px;
    background-color: var(--secondary-color);
    margin-bottom: 7rem;
}
.image h2{
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.extrainfo{
    margin-left: 15%;
    width: 40%;
    line-height: 1.5rem;
    color: black;
}
section{
    margin: auto 15%;
}
section h2{
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}
section p{
    display: flex;
    justify-content: center;
    color: black;
}

.projectpagehead{
    display: flex;
    justify-content: center;
}
.projectWindow{
    margin: 2rem 15%;
    padding: 3rem;
    border-radius: 1rem;
}
.projectWindow.colored{
    background-color: var(--forth-color);
}
.projectHeader{
    display: flex;
    justify-content: center;
    padding: none;
    margin: auto;
    color: var(--secondary-color);
}
.projectDate{
    display: flex;
    justify-content: center;
    padding: none;
    margin: auto;
    color: var(--dark-gray);
}
.projectinfo{
    display: flex;
    justify-content: center;
    margin: auto;
    color: black;
    text-align: justify;
    padding: 1rem;
}
.projectWindow div{
    display: flex;
    justify-content: center;
}
.projectHeader.bloghead{
    color: var(--dark-gray);
}



footer{
    margin: 2rem 15%;
    display: block;
    background-color: var(--primary-color);
    color: var(--off-white);
    padding: 1rem;
    border-radius: 0.8rem;
}
footer h2{
    display: flex;
    justify-content: center;
    flex: 1;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
}
footer a{
    margin: 0 2rem;
    font-size: large;
    flex: 1;
    color:var(--forth-color);
    font-weight: bold;
}